.main{
    height: 70vh;
    display: flex;
    flex-wrap:wrap;
    gap: 0.5rem;
}
.logo-menu{
    width: 11rem;
    height: 10rem;
}
.article-menu{
    width: 14rem;
    height: 14rem;
    border: 0.1rem solid #0EAD1A;
    padding: 1rem;
    border-radius: 1rem
}
.article-menu h2{
    color: #092FEF;
    text-align: center
}