form{
    margin: 1rem;
    padding: 0.5rem;
    border: 0.2rem solid #0ead1a;

}
.form-group{
    margin: 1rem
}
.form-group input{
    width: 20rem;
    height: 2.5rem;
    margin-left: 1.5rem;
}
.form-group small{
    font-size:1rem;
}

